body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .dashboard {
    max-width: 10000px;
    margin: 50px 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-collapse: collapse;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 50%;
    height: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  td {
    min-width: 80px;
    margin: 10px;
    }
  
  .orange-bg {
    background-color: orange;
  }
  
  .white-bg {
    background-color: #fff;
  }
  
 button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 25px 0 0 1000px;
  border-radius: 25px;
  font-weight: bold;
  border: 1 solid orange;
  color: #000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: transparent;
 }
span{
  background-color: orange;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: 1;
}

.save-btn{
  display: none;
}