*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0px;
    box-sizing:border-box;
    
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
}


.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width:100%;
    height: 85px;
    line-height: 100px;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px 1px;
}
.nav-logo p{
    font-size: 30px;
    font-weight: 200;
    padding-bottom: 40px;
       
}
.nav-logo p span{
    color: rgb(211, 128, 3);
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    padding-bottom: 15px;
    margin: 0 25px;
    color: black;
}
.nav-menu ul li .link:active{
    color:rgb(211, 128, 3);
}
.link:hover, .active{
    border-bottom: 2px solid black;
    
}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.7);   
    color: white;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    transition: all;
}
.nav-button .btn:hover{
    background-color: green;
}

.btn.white-btn{
    background:rgb(211, 128, 3);
    color:black;
    font-weight: 600;
}
.nav-icons{
    width: 130px;
}
.nav-icons i{
    padding-left: 30px;
    color: black;
    font-size: 18px;
}
.nav-icons i:hover{
    color: rgb(211, 128, 3)
}
.nav-menu-btn{
    display: none;
}
.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 450px;
    overflow:hidden;
    z-index: 2;
    
}
.login-container{
    position: relative;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: 1s ease-in-out;
    padding-left: 100px ;
}
 
.register-container{
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: 1s ease-in-out;
}

.top span{
    color: rgb(211, 128, 3);
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.top span a{
    font-weight: 500;
    margin-left: 5px;
    color:rgb(211, 128, 3)
}
header{
color:rgb(211, 128, 3);
font-size: 30px;
text-align: center;
padding: 10px 0 30px 0;
}
.two-form{
    display: flex;
    gap: 10;
}
.input-field{
    font-size: 15px;
    background:  rgba(0, 0, 0, 0.2);
    color: black;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    outline: none;
    border-radius: 30px;
    transition: 0.5 ease;  
}
.input-field:hover, .input-field:focus{
    /* background: rgba(0, 0, 0, 0.5); */
    border: 1px solid black;
}
::-webkit-input-placeholder{
    color: black
} 
.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
}
.submit{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    background: rgba(211, 128, 3, 1);
    cursor: pointer;
}
.two-col{
    display: flex;
    justify-content: space-between;
    font-size: small;
    margin-top: 10px;
}
.two-col .one{
    display: flex;
    gap: 5px;
}
.two label a{
    text-decoration: none;
    color: black;
}
.two label a:hover{
    text-decoration: underline;
}
 @media only screen and (max-width: 818px){
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition:1s;
    }
     .nav-menu ul{
        flex-direction: column;
        text-align: center;
     }
     .nav-menu-btn{
        display: block;
     }
     .nav-menu-btn i{
        font-size: 20px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10%;
        cursor: pointer;
        transition: 1s;
     }
     .nav-menu-btn i:hover{
        background: rgba(0, 0, 0, 0.05);
        color: rgb(211, 128, 3);
     }

 }
 p {
    text-align: center;
 }


 











